@charset "utf-8";

html {
    font-family: 'Amaranth', sans-serif;
    background-color: rgba(71, 166, 255, 0.075);
}

header {
    border-top: 1px solid #4d4d4d;
    position: fixed;
    top: 0;
    padding: 12px;
    width: 100%;
}

h1 {
    font-size: 370%;
    position: fixed;
    position: sticky;
    top: 0;
    
    text-align: center;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#searchBoxContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

li{
    cursor: pointer;
    list-style-type: none;
    display: inline;
}

#from {
    height: 2.4em;
    padding: 0 16px;
    border-radius: 4px;
    border: none;

    box-shadow: 0 0 0 1px rgba(33, 149, 243, 0.351);
    margin: 5px;
    margin-bottom: 30px;
}

#to {
    height: 2.4em;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px rgba(33, 149, 243, 0.351);
    margin: 5px;
}


value{
    color: lightgray;
}

#myMap{
    padding-left: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column; 
}

#direction{
    margin-right: 10px;

    display: flex;
}

#search {
    width: 130px;
    height: 40px;
    background-color: #191970;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    padding: 8px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Amaranth', sans-serif;
}

footer {
    font-size: 12px;
    font-weight: 500;

    position: absolute;
    position: fixed;
    bottom: 0;
    
    text-align: center;

    color: white;
    background-color: #0f0f4b;

    width: 100%;
    padding: 7px;
}